@model IEnumerable<CityWeather>

<div class="d-grid gap-3 container w-100">
    <div class="row align-items-center justify-content-around">
        @foreach (var i in Model)
        {
            <div class="col-sm border border-primary">
                @i.CityName
            </div>
        }
    </div>
    <div class="row align-items-center justify-content-around">
        @foreach (var i in Model)
        {
            <div class="col-sm border border-primary">
                @i.CityName
            </div>
        }
    </div>
</div>        